* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  color: #000;
  font-size: 40px;
} 

.header img {
  width: 10%;
  height: 10%;
  padding: 10px;
}

h1 {
  width: 100%;
  font-family: 'rig-solid-medium-outline', sans-serif;
  letter-spacing: 8px;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  font-family: blambot-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
  display: inline-flex;
  justify-content: space-around;
  padding: 20px 20px 40px 20px;
}

li {
  list-style-type: none;
  width: 100%;
  display: inline;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 20px 60px;
}

nav a {
  text-decoration: none;
  color: #000000;
}

a:hover{
  color: #FF00FF;
  text-decoration: none;
}

#two_column {
}

#left {
    padding: 20px;
    float: left;
    width: 50%;
}

#left p {
  font-family: 'Philosopher', sans-serif;
  font-size: .8em;
  text-align: left;
  padding: 70px 20px;
  display: inline-block;
}

#left span {
  width: 100%;
  font-family: blambot-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: .7em;
  color: #FF00FF;
}

.right {
    float: right;
    width: 62%;
      position: relative;
      max-width: 50%;
      margin: 0 auto;
}

.right #transparent {
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  left: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.right span {
  width: 100%;
  font-family: blambot-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: .75em;
  color: #FFF;
}

.right p {
  font-family: 'Philosopher', sans-serif;
  font-size: .5em;
  text-align: center;
  color: #FFF;
}

#contain {
  object-fit: fill;
  width: 100%;
}

.clearfix {
  padding: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.grid-item, .grid-sizer { 
  width: 24%; margin: .5%; 
}

.grid-item--width2 { 
  width: 20%; 
}

.grid {
  margin: 0 auto;
}

.grid img {
  width: 100%;
  display: block;
}

.grid img:hover {
  border: 10px solid #FF00FF;
  transition: .75s;
}

footer {
  font-family: blambot-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 150px;
  font-size: .5em;
  text-decoration: none;
}

@media screen and (max-width: 1385px) {
  li {
    font-size: .8em;
  }
}

@media screen and (max-width: 1195px) {
  h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 1190px) {
  li {
    font-size: .7em;
  }
   .header img {
    width: 13%;
    height: 13%;
  }
   h1 {
    font-size: 2.3em;
    letter-spacing: 2px;
  }
  li {
    font-size: .7em;
    display: inline-block;
    float: left;
    padding: 10px;
    margin: 5px;
    border: 10px solid magenta;
    border-radius: 50px;
    overflow: auto;
  }
  nav {
    width: 50%;
    float: left;
  }
  #left {
    display: block;
    width: 50%;
    float: right;
  }
  #left {
    padding: 0;
  }
  #left p {
    text-align: right;
    font-size: .9em;
    padding: 20px 20px 40px 20px;
  }
  .right {
    display: block;
    width: 100%;
    clear: both;
    float: none;
    align-content: center;
  }
  .right p {
    font-size: .4em;
  }  
}

@media screen and (max-width: 1090px) {
  #left p {
    text-align: right;
    padding: 0;
  }
  .right {
    display: block;
    width: 100%;
    clear: both;
    float: none;
    align-content: center;
  }
  .right p {
    font-size: .4em;
  }
  footer {
    font-size: .4em;
    padding: 60px;
  }
}

@media screen and (max-width: 840px) {
  #left p {
    font-size: .75em;
  }
}

@media screen and (max-width: 715px) {
  #left p {
    font-size: .65em;
  }
  .right p {
    font-size: .3em;
  }
  li {
    font-size: .5em;
  }
  h1 {
    font-size: 1.6em;
  }

@media screen and (max-width: 610px) {
  #left p {
    font-size: .6em;
  }
  .header img {
    width: 17%;
    height: 17%;
  }
  #left p {
    font-size: .6em;
    float: none;
}

@media screen and (max-width: 480px) {
  .header img {
    width: 20%;
    height: 20%;
  }

  #left {
    padding: 0 20px 40px 20px;
    float: none;
    width: 100%;
  }
  #left p {
    text-align: center
  }
  .right #transparent {
    display: none;
  }
  li {
    display: block;
    float: none;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .header img {
    width: 25%;
    height: 25%;
  }
  #contain {
    width: 100%;
    padding: 0;
  }
  footer {
    font-size: .2em;
  }
}


