* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  color: #000;
  font-size: 40px;
} 

.header img {
  width: 10%;
  height: 10%;
  padding: 10px;
}

a:hover{
  color: #FF00FF;
}

h1 {
  width: 100%;
  font-family: 'rig-solid-medium-outline', sans-serif;
  letter-spacing: 8px;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  font-family: blambot-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
  display: inline-flex;
  justify-content: space-around;
  padding: 20px 20px 80px 20px;
}

nav li {
  width: 100%;
  display: inline;
  justify-content: center;
  padding: 20px 60px;
}

nav a {
  color: #000;
  text-decoration: underline solid #FF00FF;
  text-underline-position: under;
}

nav a:hover {
  color: #FF00FF;
}

h2 {
  width: 100%;
  font-family: blambot-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  margin: 30px 0;
}

#two_column {
}

#related_content {
    float: left;
    width: 50%;
    font-family: blambot-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    display: inline-block;
}

#related_content li {
  list-style-type: none;
  margin: 60px;
  font-size: .8em;
}

#related_content a {
  color: #000;
  text-decoration: underline solid #FF00FF;
  text-underline-position: under;
}

#related_content a:hover {
  color: #FF00FF;
}

.feature {
    float: right;
    width: 62%;
      position: relative;
      max-width: 50%;
      margin: 0 auto;
}

.feature #transparent {
  position: absolute; /* Position the background text */
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  left: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.feature span {
  width: 100%;
  font-family: blambot-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  color: #FFF;
  display: block;
  padding: 15px 0;
}

.feature p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: .7em;
  text-align: center;
  color: #FFF;
  padding: 5px;
}

.feature a {
  text-decoration: none;
}

.feature img:hover {
  border: 10px solid #FF00FF;
  transition: .75s;
}

#contain {
  object-fit: fill;
  width: 100%;
}

.clearfix {
  padding: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.grid-item, .grid-sizer { 
  width: 24%; margin: .5%; 
}

.grid-item--width2 { 
  width: 49%; 
}

.grid img {
  width: 100%;
  display: block;
}

.grid img:hover {
  border: 10px solid #FF00FF;
  transition: .75s;
}

.grid a {
  text-decoration: none;
}

.grid p {
  font-size: .5em;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #000;
}

footer {
  font-family: blambot-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 150px;
  font-size: .5em;
  text-decoration: none;
}

footer a {
  color: #000;
  text-decoration: none;
  border-bottom: 5px solid #FF00FF;
}

/*responsive site*/

@media screen and (max-width: 1385px) {

  h1 {
    font-size: 2.5em;
  }

  nav li {
    font-size: .8em;
  }

@media screen and (max-width: 1200px) {

  .header img {
    width: 15%;
    height: 15%;
  }

  nav {
    width: 100%;
    padding: 5px;
  }

  nav li {
    font-size: .7em;
    display: block;
    padding: 20px;
    margin: 10px;
    border: 10px solid magenta;
    border-radius: 50px;
  }

  nav a {
    text-decoration: none;
  }

  h2 {
    font-size: .8em;
  }

  #related_content {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0;
  }

  #related_content li {
    margin: 50px;
  }

  .feature {
    display: inline-block;
    width: 50%;
    float: right;
  }

  .feature span {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .clearfix {
    overflow: auto;
  }

@media screen and (max-width: 1000px) {

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: .7em;
    margin-top: 10px;
  }

  #related_content li {
    font-size: .7em;
    margin: 40px;
  }

  .feature span {
    font-size: .7em;
    padding: 0;
  }

}

@media screen and (max-width: 830px) {

  h1 {
    font-size: 1.5em;
  }

  nav li {
    font-size: .5em;
    padding: 10px;
  }

  h2 {
    font-size: .5em;
  }

  #related_content li {
    font-size: .5em;
  }

  .feature span {
    font-size: .4em;
    margin: 0;
  }

  .feature p {
    font-size: .5em;
  }

  footer {
    font-size: .3em;
  }


@media screen and (max-width: 700px) {

  nav li {
    font-size: .3em;
    padding: 10px;
    margin: 10px;
    border: 10px solid magenta;
    border-radius: 50px;
  }

  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: .4em;
  }

  #related_content li {
    font-size: .4em;
    margin: 25px 0;
  }

  .feature span {
    font-size: .3em;
  }

  .feature p {
    font-size: .3em;
  }

  .grid-item, .grid-sizer { 
    width: 99%; margin: .5%; 
  }

  .grid-item--width2 { 
    width: 99%; 
  }

  footer {
    font-size: .2em;
  }

  @media screen and (max-width: 360px) {
    
  h1 {
    font-size: .5em;
  }

  .feature {
    display: block;
    width: 100%;
  }

  #related_content {
    display: block;
    width: 100%;
  }

  }


