* {
  box-sizing: border-box;
}

body {
	text-align: center;
	background: #FFFFFF;
	color: #000000;
	font-family: Helvetica, Verdana, sans-serif;
} 

h1 {
  font-family: 'rig-solid-medium-outline', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-style: normal;
  font-size: 5em;
  font-width: 1200px;
}

h2 {
  background: #FFFFFF;
  color: #000000;
  font-family: Helvetica, Verdana, sans-serif;
}

nav {
	width: 100vw;
}

li {
	list-style-type: none;
	display: inline;
	margin: 0 5vw;
  font-size: 4vh;
}

a {
	text-decoration: none;
	color: black;
	padding: 2vw;
}

a:hover{
	color: magenta;
}

#feature {
  margin: auto;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  width: 1200px;
  margin: auto;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  width: 1200px;
  margin: auto;
}

.column img {
  padding-top: 1em;
  padding: 2.5em;
  vertical-align: middle;
  width: 100%;
  box-shadow: 1px 1px 5px magenta;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

footer {
  font-family: Helvetica, Verdana, sans-serif;
  padding: 150px;
}

