body {
	text-align: center;
	background: #FFFFFF;
	color: #000000;
	font-family: Helvetica, Verdana, serif;
}

@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Ultra&display=swap);

h1 {
  font-family: 'Ultra', serif;
  font-family: Calibri, Verdana, serif;
  text-transform: uppercase;
}

<meta name="viewport" content="width=device-width, initial-scale=1">

.container {
  display: left;
  cursor: pointer;
  padding: 16px 
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;