@font-face {
	font-family: Ultra;
	src: url("/fonts/Ultra-Regular.woff") format ("woff"),
		 url("/fonts/Ultra-Regular.tff") format ("ttf"); 

body {
	text-align: center;
	background: #FFFFFF;
	color: #000000;
	font-family: Helvetica, Verdana, serif;
}

h1 {
  font-family: 'Ultra-Regular', serif;
  font-family: Calibri, Verdana, serif;
  text-transform: uppercase;
}

