@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

body {
	text-align: center;
	background: #FFFFFF;
	color: #000000;
	font-family: Helvetica, Verdana, serif;
}

h1 {
  font-family: 'Ultra', serif;
  font-family: Calibri, Verdana, serif;
  text-transform: uppercase;
}

