@import url(fonts/Ultra);

body {
	text-align: center;
	background: #FFFFFF;
	color: #000000;
	font-family: Helvetica, Verdana, serif;
}

h1 {
  font-family: 'Ultra', serif;
  font-family: Calibri, Verdana, serif;
  text-transform: uppercase;
}

